.weatherCurrentIcon {
  font-size: 64px;
  font-weight: bold;
  margin: 0;
}
.weatherCurrentInfo {
  padding: 0 0 0 48;
  margin: 0;
}

.weatherCurrentTemp {
  font-size: 32px;
  font-weight: bold;
  margin: 0;
}

.weatherCurrentWeather {
  margin: 0;
  padding: 0;
}

.weatherMiniIcon {
  font-size: 32px;
  font-weight: bold;
  margin: 0;
}

.weatherMiniWeather {
  font-size: 12;
}
